# SPDX-FileCopyrightText: Chris Wilson <christopher.david.wilson@gmail.com>
#
# SPDX-License-Identifier: MIT

[user]
    name = Chris Wilson
    email = {{ .email }}
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMmOdgdN3KlDNWhR7qRVqmJnBPPwMLdV+J6IMlKN3MPd
[gpg]
    format = ssh
[gpg "ssh"]
{{- if eq .chezmoi.os "darwin" }}
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- else if eq .chezmoi.os "linux" }}
    program = "/opt/1Password/op-ssh-sign"
{{- end }}
    allowedSignersFile = "~/.ssh/allowed_signers"
[commit]
    gpgsign = true
[core]
    editor = code --wait
    excludesfile = ~/.gitignore
    quotepath = false
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    ecm = commit --allow-empty-message --no-edit
    unstage = reset HEAD --
    last = log -1 HEAD
    stash-unapply = !git stash show -p | git apply -R
    amend = commit --amend --no-edit
    gerrit = push origin HEAD:refs/for/master
    prepush = log --graph --stat origin/master..
    sdiff = !git diff && git submodule foreach 'git diff'
    spush = push --recurse-submodules=on-demand
    supdate = submodule update --remote --merge
[color "diff"]
    whitespace = red reverse
[instaweb]
    local = true
    httpd = webrick
[push]
    default = simple
    recurseSubmodules = check
    autoSetupRemote = true
[status]
    submodulesummary = 1
[pull]
    rebase = false
[init]
    defaultBranch = main
    templateDir = ~/.git-template
[fetch]
    prune = true
[diff]
{{- if eq .chezmoi.os "darwin" }}
    tool = Kaleidoscope
{{- else if eq .chezmoi.os "linux" }}
    tool = meld
{{- end }}
    submodule = log
[difftool]
    prompt = false
    trustExitCode = true
[merge]
{{- if eq .chezmoi.os "darwin" }}
    tool = Kaleidoscope
{{- else if eq .chezmoi.os "linux" }}
    tool = meld
{{- end }}
    summary = true
[mergetool]
    prompt = false
[difftool "code"]
    cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"
[mergetool "code"]
    cmd = code --wait --merge \"$REMOTE\" \"$LOCAL\" \"$BASE\" \"$MERGED\"
{{- if eq .chezmoi.os "darwin" }}
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
[difftool "sourcetree"]
    cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
    path =
[mergetool "sourcetree"]
    cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
{{- else if eq .chezmoi.os "linux" }}
[difftool "meld"]
    cmd = meld \"$LOCAL\" \"$REMOTE\"
[mergetool "meld"]
    cmd = meld \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output \"$MERGED\"
{{- end }}
{{- if eq .email "christopher.david.wilson@gmail.com" }}
[includeIf "gitdir:~/workspace/flyingcampdesign/"]
    path = ~/.gitconfigs/flyingcampdesign.gitconfig
[includeIf "gitdir:~/workspace/cgnd/"]
    path = ~/.gitconfigs/cgnd.gitconfig
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
[difftool "kicad-ksdiff"]
    cmd = kicad-ksdiff \"$LOCAL\" \"$REMOTE\"
{{- end }}
[difftool "sqldiff"]
    cmd = sqldiff \"$LOCAL\" \"$REMOTE\"
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
