# SPDX-FileCopyrightText: Chris Wilson <christopher.david.wilson@gmail.com>
#
# SPDX-License-Identifier: MIT

# theme = Hybrid
theme = tinted-theming
font-family = Monaspace Neon Frozen
{{- if eq .chezmoi.os "darwin" }}
  font-size = 14
{{- else if eq .chezmoi.os "linux" }}
  font-size = 11
{{- end }}
cursor-style = underline
cursor-click-to-move = true
adjust-cell-height = 20%
clipboard-paste-protection = true
