# SPDX-FileCopyrightText: Chris Wilson <christopher.david.wilson@gmail.com>
#
# SPDX-License-Identifier: MIT

theme = cdwilson-tomorrow-night
font-family = Monaspace Neon
{{- if eq .chezmoi.os "darwin" }}
font-size = 14
{{- else if eq .chezmoi.os "linux" }}
font-size = 11
{{- end }}
cursor-style = bar
cursor-click-to-move = true
adjust-cell-height = 20%
clipboard-paste-protection = true
window-width = 80
window-height = 24
{{- if eq .chezmoi.os "darwin" }}
  {{- if eq .chezmoi.arch "arm64" }}
command = /opt/homebrew/bin/bash --login
  {{- else }}
command = /usr/local/bin/bash --login
  {{- end }}
{{- else if eq .chezmoi.os "linux" }}
command = /bin/bash --login
{{- end }}
