# SPDX-FileCopyrightText: Chris Wilson <christopher.david.wilson@gmail.com>
#
# SPDX-License-Identifier: MIT

{{- if eq .email "christopher.david.wilson@gmail.com" }}
chris@binho.io ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIC7XcCcOqlMh/GTJ0aJFt5wKPWH/Fb6BmISf2IcRE+8f
chris@cgnd.dev ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFNWcuEAc3PwNCGADXTx/R6XCXeT++3Zf8lpj0PP/tNH
chris@flyingcamp.design ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICa3ITeUXDr0hLGJuOtvkHlr5JHJxGSt3tzsQTT04P9j
christopher.david.wilson@gmail.com ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMmOdgdN3KlDNWhR7qRVqmJnBPPwMLdV+J6IMlKN3MPd
{{- end }}
